* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #323437;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.text {
  color: #646669;
  margin-bottom: 50px;
  font-size: 25px;
  user-select: none;
}

.input {
  width: 100%;
  max-width: 500px;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
}
